:root {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  background-color: #EEEEEE; /* Color gris claro */
  padding: 0;
  margin: 0;
}

label {
  display: block;
}

.form {
  width: 400px;
  margin: 0 auto;
}

.infodata {
  text-align: center;
}

input[type="text"],
[type="password"] {
  display: block;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  margin: 5px 0 10px 0;
}

input[type="button"],
button {
  background-color: rgb(39, 131, 212);
  padding: 10px;
  border: 0;
  min-width: 100px;
  border-radius: 5px;
  color: white;
}

nav {
  background-color: #eee;
}

nav ul {
  margin: 0;
}

nav ul li {
  display: inline-block;
  padding: 10px;
}

a {
  color: rgb(97, 28, 161);
  text-decoration: none;
}
.centered-text {
  text-align: center;
  margin: auto;  /* Esto asegura que también centra horizontalmente si tiene un ancho definido */
  width: 100%; /* Opcional, asegura que el div ocupe todo el ancho del contenedor si es necesario */
  /*tipo de letra*/
  font-family: 'Rubik', sans-serif;
}
.counter{
  font-family: 'Rubik', sans-serif;
}

.button-player {
  background: 'transparent';
  border: 'none';
  cursor: 'pointer';
  padding: '10px';
}

.time-container {
  width: 50px;
  text-align: center;
  font-family: 'Rubik', sans-serif;
}

.img-cover {
  border-radius: 100px;
}


.dashboard {
  width: 500px;
  margin: auto;
}

.errorMessage {
  background-color: #f2dede;
  color: #a94442;
  padding: 10px;
}